<div class="container-lg">
    <h1>My Task</h1>
    <hr>
    <div class="row">
        <div class="col-md-8">
            <div *ngFor='let task of tasks; let i = index'>
                <div>

                    <h4 id="{{i}}" appStrikethrough><span class="alert badge bg-primary">{{i}}</span>-<span class="alert-secondary" role="alert">{{task.name}}</span></h4>
                    <button class="btn btn-link" (click)='toggleDetails(i)'>Toggle Details</button>
                    <div>
                        <app-task-details *ngIf='task.showDescription' [task]='task' (isComplete)='completeTask($event, i)'></app-task-details>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
</div>